<div class="modal-header">
    <div class="modal-title">签名板</div>
    <div class="modal-close" ng-click="cancel()">
        <i class="fa fa-times"></i>
    </div>
</div>
<div class="modal-body" data-ng-init="load()">
    <div style="background:#f0f4fb;width:570px;height:225px">
        <object id="HWPenSign" name="HWPenSign" classid="clsid:E8F5278C-0C72-4561-8F7E-CCBC3E48C2E3" width="570" height="225"> </object>
    </div>
</div>
<div class="modal-footer">
    <button class="comfirm" ng-click="ok()">确定</button>
    <button class="cancel" ng-click="cancel()">取消</button>
</div>