.xl-video-container {
  width: 508px;
  height: 320px;
  position: relative;
  color: #fff;
}
.xl-video-container .xl-video-play {
  width: 100%;
  height: 100%;
}
.xl-video-container .xl-video-controller {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}
.xl-video-container .xl-video-controller .xl-progress {
  height: 10px;
  position: relative;
}
.xl-video-container .xl-video-controller .xl-progress .xl-progress-bar {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: #ddd;
  transition: height .3s;
}
.xl-video-container .xl-video-controller .xl-progress .xl-progress-bar:hover {
  height: 10px;
}
.xl-video-container .xl-video-controller .xl-progress .xl-progress-bar:hover .xl-progress-dot {
  height: 12px;
  width: 12px;
  margin-left: -6px;
}
.xl-video-container .xl-video-controller .xl-progress .xl-progress-bar:hover .xl-contrl-tip {
  display: block;
}
.xl-video-container .xl-video-controller .xl-progress .xl-progress-bar:hover .xl-skip-line {
  display: block;
}
.xl-video-container .xl-video-controller .xl-progress .xl-progress-bar:hover .xl-progress-play {
  height: 10px;
}
.xl-video-container .xl-video-controller .xl-progress .xl-progress-bar .xl-progress-play {
  background: #01ACFE;
  width: 0;
  height: 3px;
  transition: height .3s;
  bottom: 0;
}
.xl-video-container .xl-video-controller .xl-progress .xl-progress-bar .xl-progress-dot {
  left: 0;
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: #fff;
  margin-left: -2.5px;
  bottom: -1px;
  transition: height .3s, width .3s;
}
.xl-video-container .xl-video-controller .xl-progress .xl-progress-bar .xl-skip-line {
  height: 100%;
  width: 1px;
  background: #01ACFE;
  left: 50%;
  position: absolute;
  bottom: 0;
  display: none;
}
.xl-video-container .xl-video-controller .xl-progress .xl-progress-bar .xl-contrl-tip {
  left: 50%;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  white-space: nowrap;
  position: absolute;
  bottom: 10px;
  z-index: 100;
  display: none;
}
.xl-video-container .xl-video-controller .xl-tool-bar {
  height: 40px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.86));
  background-repeat: repeat-x;
  font-size: 12px;
}
.xl-video-container .xl-video-controller .xl-tool-bar::after {
  content: "";
  display: block;
  clear: both;
}
.xl-video-container .xl-video-controller .xl-tool-bar .xl-bar-left {
  float: left;
  height: 40px;
}
.xl-video-container .xl-video-controller .xl-tool-bar .xl-bar-left .xl-play-btn {
  display: inline-block;
  width: 30px;
  text-align: center;
  line-height: 40px;
}
.xl-video-container .xl-video-controller .xl-tool-bar .xl-bar-left .xl-play-btn i {
  cursor: pointer;
}
.xl-video-container .xl-video-controller .xl-tool-bar .xl-bar-left .xl-play-btn i:hover {
  color: #01ACFE;
}
.xl-video-container .xl-video-controller .xl-tool-bar .xl-bar-left .xl-time-display {
  display: inline-block;
  line-height: 40px;
  padding: 0 5px;
}
.xl-video-container .xl-video-controller .xl-tool-bar .xl-bar-right {
  float: right;
  height: 40px;
}
.xl-video-container .xl-video-controller .xl-tool-bar .xl-bar-right .xl-btn-fullscreen {
  width: 30px;
  text-align: center;
  line-height: 40px;
}
.xl-video-container .xl-video-controller .xl-tool-bar .xl-bar-right .xl-btn-fullscreen i {
  cursor: pointer;
}
.xl-video-container .xl-video-controller .xl-tool-bar .xl-bar-right .xl-btn-fullscreen i:hover {
  color: #01ACFE;
}
