<div class="modal-header">
    <div class="modal-title">{{content.title || 'USB摄像头'}}</div>
    <div class="modal-close" ng-click="common.cancel()">
        <i class="fa fa-times"></i>
    </div>
</div>
<div class="modal-body usb-play-container" data-ng-init="common.load()">
    <div class="usb-row">
        <div class="row-title" style="line-height:28px">
            选择设备：
        </div>
        <div class="row-content">
            <common-select select-class="control-form search-ipt" select-config="common.selectDevices" get-val="common.currentCamera"></common-select>
            <input ng-if="common.isIe" type="button" class="common-btn sky-blue" value="确定" ng-click="usbPlay.startPlayVideo()">
        </div>
    </div>
    <div class="usb-row">
        <div class="row-left">
            <img ng-src="{{common.imgprefix + common.url}}" onerror="javascript:this.src='images/common/default_400x250.png'"/>
        </div>
        <div class="row-right">
            <object ng-if="common.isIe" id="mkvOcx" name="mkvOcx" classid="clsid:BE806C69-1CFB-4419-8D7D-BC63D580ACF6" width="332" height="250"></object>
            <canvas ng-if="!common.isIe" id="usb-camvas" style="width: 332px;height:250px"></canvas>
        </div>
    </div>
    <div class="usb-row" ng-show="common.content.showDescript">
        <div class="row-title" style="line-height:50px">
            描述：
        </div>
        <div class="row-content">
            <textarea class="control-form search-ipt" style="width:636px;height:50px" ng-model="usbPlay.description"></textarea>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="comfirm" ng-click="common.capture()">抓拍</button>
    <button class="cancel" style="background: #EC4B4B" ng-click="common.confirm()">确定</button>
</div>